* {
	box-sizing: border-box;
}

.main {
	margin: 0;
}

.header {
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: #556983;

	/*определяем модель флексбокс для блока хедер */

	display: flex;
	flex-direction: column;
	/* выстраиваем флекс элементы в колонку , основная ось игрик */
	justify-content: center;
	align-items: center;

	/* фон хедера */
	background-image: url(../img/raritet.jpg);
	background-size: cover;
	background-position: center;

}

body {
	margin: 0;
	background: -webkit-linear-gradient(230deg, #220656,#ba0331);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(230deg, #220656,#ba0331);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Montserrat', sans-serif;
}

.header-title {
	margin: 0;
	margin-bottom: 25px;
	font-weight: 700;
	font-size: 56px;
	line-height: 1.3;
	/*130% высота строки 73px*/
	text-align: center;
	color: #fff;
	}

.header-subtitle {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #fff;
}

.categories {
	padding-top: 80px;
	padding-bottom: 115px;


}
.container {
	max-width: 1310px;
	padding-top: 20px;
	background-color: #25252568;
	margin-left: auto;
	margin-right: auto;

}


.header-arrow {
	position: absolute;
	bottom: 5%;
	left: 48%;
	width: 38px;
	height: 38px;
	border-bottom: solid 2px #e2e8f2;
	border-right: solid 2px #e2e8f2;
	rotate: 45deg;

}



/* card of projects CATEGORIES */


.categories__title {
	margin: 0;
	font-weight: 700;
	font-size: 46px;
	line-height: 130%;
	text-align: center;
	color: #e2e8f2;
}
/* card wrapper*/


.categories__cards-wrapper {
	padding: 20px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}
.categories__card {
	margin: 20px;
	padding: 15px;
	max-width: 540px;
	background-color: #fff;
	box-shadow: 0px 10px 40px rgba(255, 0, 153, 0.799);
}

.card__img {
	margin-bottom: 20px;
	width: 300px;
}
.card__title {
	margin: 0;
	margin-bottom: 13px;
	font-weight: 600;
	font-size: 24px;
	line-height: 1.3;
	color: #e2e8f2;

}

.categories__card p {
	margin: 0;
	font-size: 16px;
	line-height: 1.3;
	color: #000000;

}


/* footer */


.footer {
margin: auto;
background-color: #00000084;
padding: 45px 80px 45px;
color: #e2e8f2c4;
font-size: 15px;
font-weight: 500;
line-height: 1.3;

}

.footer__wrapper {
	background: none;
	display: flex;
	justify-content: space-between;
	flex-direction: row;

}

.footer__name-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.footer__img {
	background-image: url(../img/github.png);
	width: 80px;
	height: 80px;
	background-size: cover;
	background-position: center;
	border-radius: 120px 70px;

}



/*

old styles


#digital-clock {
	width: 30%;
	height: 80px;
	background: linear-gradient(48deg, #80044c54 0.10, #801677a6, #807289bb, #80bc4c93);
	background: linear-gradient(48deg, #044c54, #1677a6, #7289bb, #bc4c93);
	 W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
	opacity: 0.60;
	position: absolute;
	margin-left: 63vw;
	margin-top: 3vw;
	border-radius: 3em;
	color: #902b2f;
	font-size: 30px;
	font-family: arial;
	comic-sans;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 6px;
	text-shadow:
		0 0 4px #fff,
		0 0 11px #fff,
		0 0 19px #fff,
		0 0 40px #f09,
		0 0 80px #f09,
		0 0 90px #f09,
		0 0 100px #f09,
		0 0 150px #f09;
	border: 2px solid #7289bb;
}
/*
.wave-two {
	content: '';
	position: absolute;
	top: 110%;
	left: 70%;
	width: 190vw;
	height: 260vw;
	margin-left: -100vw;
	transform-origin: 50% 50%;
	background-color: transparent;
	border-radius: 30% 45%;
	box-shadow: inset 0 0 10vw #477fae;
	animation: spin 15s infinite linear;
	mix-blend-mode: multiply;
}

.wave-three {
	content: '';
	position: absolute;
	top: 98%;
	left: 66%;
	width: 220vw;
	height: 240vw;
	margin-left: -120vw;
	transform-origin: 50% 50%;
	background-color: transparent;
	border-radius: 27% 40%;
	box-shadow: inset 0 0 10vw #9bddd1;
	animation: spin 13s infinite linear;
	mix-blend-mode: multiply;
}


.wave {
	content: '';
	position: absolute;
	top: 100%;
	left: 60%;
	width: 200vw;
	height: 250vw;
	margin-left: -125vw;
	transform-origin: 50% 50%;
	background-color: transparent;
	border-radius: 28% 43%;
	box-shadow: inset 0 0 10vw #9bddd1;
	animation: spin 16s infinite linear;
	mix-blend-mode: multiply;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}



.first-img {
	height: 10%;
	width: 10%;
	margin-right: 10%;
}

.second-img {
	height: 10%;
	width: 10%;
	margin-right: 10%;

}

.third-img {
	height: 10%;
	width: 10%;

}

.section-with-logos {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: auto;
	font-size: 20px;
	color: white;
	margin-bottom: 9%;

}

.section-three {
	margin-bottom: 2%;
}

.section-three__title {
	font-size: 60px;
	margin: 0px;
	text-align: center;
	font-family: Arial;
	comic-sans;

}

.section-three__span {
	color: #d9c9b2;

}

.section-three__text {
	font-size: 18px;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	padding-top: 1%;


}*/
/*
.section-with-map {
	margin-bottom: 2%;

}

.section-with-map__title {
	margin-bottom: 2%;
	text-align: center;
	font-size: 30px;
	color: #9bddd1;


}

iframe {
	display: block;
	margin: 0 auto;

}

.line {
	border-top: 1px solid #9bddd1;
	width: 90%;
	margin: 0 auto;
}
*/

